.nav {
    height: 106px;
    width: 100%;
    background-color: #2d3e4f;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-sizing: border-box;
 }

 .nav{
     display: flex;
     justify-content: center;
     
 }